:root{
    --color1 : #ECF4D6;
    --color2 : #9AD0C2;
    --color3 : #2D9596;
    --color4 : #265073;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100dvh;
    background: var(--color2);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
h1{
    color: var(--color4);
}
form input {
    display: block;
    margin: 20px 0;
    padding: 5px ;
    width: 40vw;
    max-width: 360px;
    
}
input[type=submit] {
    background: var(--color3);
    color: #fff;
}